<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define SurplusCalculator_TargetDir=$(var.SurplusCalculator.TargetDir)?>
  <?define ProductName="Surplus calculator" ?>
  <?define ProductDescription="Surplus calculator" ?>
  <?define ProductVersion="1.0.0.0" ?>
  <?define ProductCode="2db81e58-2c65-4c4d-82a8-bd8c26e61eaa"?>
  <?define UpgradeCode="4502329c-e0bb-4716-bc3a-808906e2f6d9"?>
  <?define Manufacturer="Egor92 Software"?>
  <Product Id="$(var.ProductCode)" Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />
    
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)License.rtf" />
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Start $(var.ProductName) now!" />
      
    <Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1">
      <ComponentRef Id="ApplicationShortcutDesktop" />
      <ComponentGroupRef Id="INSTALLFOLDER_files" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="$(var.ProductName)" />
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="DesktopFolder">
     <Component Id="ApplicationShortcutDesktop" Guid="37b630a3-5abe-4ec6-8903-eb73dfbc60e7">
       <Shortcut Id="ApplicationDesktopShortcut" Name="$(var.ProductName)" Description="$(var.ProductDescription)" Target="[INSTALLFOLDER]SurplusCalculator.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\$(var.ProductName)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="INSTALLFOLDER_files" Directory="INSTALLFOLDER">
      <Component Id="icon.ico" Guid="add380c1-32b7-4479-8686-fbcceaa2ef05">
        <File Id="icon.ico" Name="icon.ico" Source="$(var.SurplusCalculator_TargetDir)icon.ico" />
      </Component>
      <Component Id="SurplusCalculator.exe" Guid="ddda8454-4dd8-4f4a-9c0e-f22d7a04ab8e">
        <File Id="SurplusCalculator.exe" Name="SurplusCalculator.exe" Source="$(var.SurplusCalculator_TargetDir)SurplusCalculator.exe" />
      </Component>
      <Component Id="SurplusCalculator.exe.config" Guid="89152967-dcbd-4a2f-8b33-c63984a7fec4">
        <File Id="SurplusCalculator.exe.config" Name="SurplusCalculator.exe.config" Source="$(var.SurplusCalculator_TargetDir)SurplusCalculator.exe.config" />
      </Component>
      <Component Id="ReactiveUI.dll" Guid="86f01dbf-d2c3-425d-91ef-d7922b8ccda1">
        <File Id="ReactiveUI.dll" Name="ReactiveUI.dll" Source="$(var.SurplusCalculator_TargetDir)ReactiveUI.dll" />
      </Component>
      <Component Id="ReactiveUI.Fody.Helpers.dll" Guid="f8df8efa-bcff-4342-b64e-7fe30b305813">
        <File Id="ReactiveUI.Fody.Helpers.dll" Name="ReactiveUI.Fody.Helpers.dll" Source="$(var.SurplusCalculator_TargetDir)ReactiveUI.Fody.Helpers.dll" />
      </Component>
      <Component Id="Splat.dll" Guid="2111fad2-5ba9-4738-a07f-b8cd58d2ebda">
        <File Id="Splat.dll" Name="Splat.dll" Source="$(var.SurplusCalculator_TargetDir)Splat.dll" />
      </Component>
      <Component Id="System.Reactive.Core.dll" Guid="6a08cb4c-0d4b-482a-b7f3-65aff5301334">
        <File Id="System.Reactive.Core.dll" Name="System.Reactive.Core.dll" Source="$(var.SurplusCalculator_TargetDir)System.Reactive.Core.dll" />
      </Component>
      <Component Id="System.Reactive.Interfaces.dll" Guid="a4ec1f91-45b7-4d96-9fa5-6f582fea4692">
        <File Id="System.Reactive.Interfaces.dll" Name="System.Reactive.Interfaces.dll" Source="$(var.SurplusCalculator_TargetDir)System.Reactive.Interfaces.dll" />
      </Component>
      <Component Id="System.Reactive.Linq.dll" Guid="32faa2ba-7df6-4d10-a33a-e57cf014e309">
        <File Id="System.Reactive.Linq.dll" Name="System.Reactive.Linq.dll" Source="$(var.SurplusCalculator_TargetDir)System.Reactive.Linq.dll" />
      </Component>
      <Component Id="System.Reactive.PlatformServices.dll" Guid="64e456a2-3530-41cb-842a-962d6dea6798">
        <File Id="System.Reactive.PlatformServices.dll" Name="System.Reactive.PlatformServices.dll" Source="$(var.SurplusCalculator_TargetDir)System.Reactive.PlatformServices.dll" />
      </Component>
      <Component Id="System.Reactive.Windows.Threading.dll" Guid="79ee05e6-cc35-4926-bdc4-992f9b0cb3ce">
        <File Id="System.Reactive.Windows.Threading.dll" Name="System.Reactive.Windows.Threading.dll" Source="$(var.SurplusCalculator_TargetDir)System.Reactive.Windows.Threading.dll" />
      </Component>
      <Component Id="Xceed.Wpf.AvalonDock.dll" Guid="9c5fa12f-3b30-485e-a998-c264ff115917">
        <File Id="Xceed.Wpf.AvalonDock.dll" Name="Xceed.Wpf.AvalonDock.dll" Source="$(var.SurplusCalculator_TargetDir)Xceed.Wpf.AvalonDock.dll" />
      </Component>
      <Component Id="Xceed.Wpf.AvalonDock.Themes.Aero.dll" Guid="b8b137ee-ab60-4399-8d08-6fd1dcae8fe7">
        <File Id="Xceed.Wpf.AvalonDock.Themes.Aero.dll" Name="Xceed.Wpf.AvalonDock.Themes.Aero.dll" Source="$(var.SurplusCalculator_TargetDir)Xceed.Wpf.AvalonDock.Themes.Aero.dll" />
      </Component>
      <Component Id="Xceed.Wpf.AvalonDock.Themes.Metro.dll" Guid="19c19a32-076d-4939-8169-cabf9461c0d6">
        <File Id="Xceed.Wpf.AvalonDock.Themes.Metro.dll" Name="Xceed.Wpf.AvalonDock.Themes.Metro.dll" Source="$(var.SurplusCalculator_TargetDir)Xceed.Wpf.AvalonDock.Themes.Metro.dll" />
      </Component>
      <Component Id="Xceed.Wpf.AvalonDock.Themes.VS2010.dll" Guid="fc2c3066-8e7d-42de-9123-0520c0f6bfab">
        <File Id="Xceed.Wpf.AvalonDock.Themes.VS2010.dll" Name="Xceed.Wpf.AvalonDock.Themes.VS2010.dll" Source="$(var.SurplusCalculator_TargetDir)Xceed.Wpf.AvalonDock.Themes.VS2010.dll" />
      </Component>
      <Component Id="Xceed.Wpf.DataGrid.dll" Guid="d692ca84-77a8-4cc1-a1b7-c6f8de32da12">
        <File Id="Xceed.Wpf.DataGrid.dll" Name="Xceed.Wpf.DataGrid.dll" Source="$(var.SurplusCalculator_TargetDir)Xceed.Wpf.DataGrid.dll" />
      </Component>
      <Component Id="Xceed.Wpf.Toolkit.dll" Guid="f798c947-65b5-497a-a129-05681efbde24">
        <File Id="Xceed.Wpf.Toolkit.dll" Name="Xceed.Wpf.Toolkit.dll" Source="$(var.SurplusCalculator_TargetDir)Xceed.Wpf.Toolkit.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
  
</Wix>
